@import "tailwindcss";

@layer base {
  * {
    @apply border-zinc-200;
  }
  body {
    @apply bg-[#FAFAFA] text-zinc-900 antialiased selection:bg-zinc-900 selection:text-white;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

/* Micro-détail : scrollbar minimaliste */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #e4e4e7;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #d4d4d8;
}